---
import Layout from "../layouts/Layout.astro";
const { title, description } = Astro.props;
---

<Layout title={title} , description={description}>
  <h1 class="text-4xl font-bold text-center dark:text-white">
    {title}
  </h1>
  <article class="prose md:prose-lg lg:prose-xl dark:prose-invert p-8">
    <slot />
  </article>
</Layout>
